# About the Dataset

Data were extracted from images that were taken from genuine and forged banknote-like specimens. For digitization, an industrial camera usually used for print inspection was used. The final images have 400x 400 pixels. Due to the object lens and distance to the investigated object gray-scale pictures with a resolution of about 660 dpi were gained. Wavelet Transform tool were used to extract features from images.

Dataset can be used for Binary Classification sample problems<br>
Link for dataset :https://www.kaggle.com/ritesaluja/bank-note-authentication-uci-data

In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('BankNote_Authentication.csv')

In [5]:
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [17]:
X=df.iloc[:,:-1]  #independent features
y=df['class']  #dependent feature

In [18]:
X

      variance  skewness  curtosis  entropy
0      3.62160   8.66610   -2.8073 -0.44699
1      4.54590   8.16740   -2.4586 -1.46210
2      3.86600  -2.63830    1.9242  0.10645
3      3.45660   9.52280   -4.0112 -3.59440
4      0.32924  -4.45520    4.5718 -0.98880
...        ...       ...       ...      ...
1367   0.40614   1.34920   -1.4501 -0.55949
1368  -1.38870  -4.87730    6.4774  0.34179
1369  -3.75030 -13.45860   17.5932 -2.77710
1370  -3.56370  -8.38270   12.3930 -1.28230
1371  -2.54190  -0.65804    2.6842  1.19520

[1372 rows x 4 columns]

In [15]:
### Train Test Split
from sklearn.model_selection import train_test_split

In [36]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)

In [37]:
X_train

      variance  skewness  curtosis   entropy
694    0.74054   0.36625  2.199200  0.484030
880   -2.35180  -4.83590  6.647900 -0.060358
1251  -0.77688   0.13036 -0.031137 -0.353890
812   -2.06590   1.05120 -0.462980 -1.097400
1212  -2.45600  -0.24418  1.404100 -0.458630
...        ...       ...       ...       ...
715    3.49160   8.57090 -3.032600 -0.591820
905    0.74521   3.63570 -4.404400 -4.141400
1096  -4.36670   6.06920  0.572080 -5.466800
235    2.04660   2.03000  2.176100 -0.083634
1061  -2.31470   3.66680 -0.696900 -1.247400

[960 rows x 4 columns]

In [39]:
X_test

      variance  skewness   curtosis  entropy
1240   -3.5510   1.89550   0.186500 -2.44090
703     1.3114   4.54620   2.293500  0.22541
821    -4.0173  -8.31230  12.454700 -1.43750
1081   -5.1190   6.64860  -0.049987 -6.52060
37      3.6289   0.81322   1.627700  0.77627
...        ...       ...        ...      ...
559     2.0165  -0.25246   5.170700  1.07630
400     1.3049  -0.15521   6.491100 -0.75346
439     4.7285   2.10650  -0.283050  1.56250
634     6.8248   5.21870  -2.542500  0.54610
628     3.5251   0.72010   1.692800  0.64438

[412 rows x 4 columns]

In [55]:
# Training using RandomForest
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier()
classifier.fit(X_train,y_train)

RandomForestClassifier()

In [53]:
predicted=classifier.predict(X_test)

In [48]:
predicted

array([1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [57]:
classifier.score(X_test,y_test)   #accuracy

1.0

In [56]:
sum(y_test==predicted)/len(y_test)   #which is how accuracy is calculated :)

1.0

In [60]:
### Create a Pickle file using serialization 
import pickle
pickle_out = open("classifier.pkl","wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [73]:
classifier.predict([[0,0,0,35]])

array([1], dtype=int64)